* {
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.trivia-questions-styling {
    color: rgb(0, 204, 255);
}

h2 {
    color: pink;
}

.restart-button, #start-button {
    margin: 20px;
    padding: 10px, 40px, 10px, 40px;
    font-size: 20px;
    background: pink;
}

.show-results-text {
    color: rgb(0, 204, 255);
    font-size: 20px;
}
